/*Importing the font*/

/*CSS variables*/
:root {
	--cyan: hsl(179, 62%, 43%);
	--yellow: hsl(71, 73%, 54%);
	--ltgray: hsl(204, 43%, 93%);
	--grayblue: hsl(218, 22%, 67%);
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *::before, *after {
	box-sizing: inherit;
}

body {
	/*font-family: ;*/
	line-height: 1.3;
}